replicaCount: 3
revisionHistoryLimit: 10
image:
  repository: public.ecr.aws/perfectscale-io/psc-autoscaler
  pullPolicy: Always
  tag: "v1.0.34"
settings:
  port: 8443
  env: "prod"
  logLevel: "DEBUG"
  automationCRDExamplesUrl: "https://github.com/perfectscale-io/perfectscale-io.github.io/tree/main/charts/psc-autoscaler/examples"
  psUrl: "https://api.app.perfectscale.io"
  telemetryUrl: "https://api.app.perfectscale.io/psc-telemetry"
  pushTelemetryFrequency: "1m"
  maxParallelRestarts: 3
  restartDeploymentThreshold: 0.1 # defines the number of bypassed pods of the deployment below which we restart individual pods
  bypassedPodsCheckInterval: "30m"
  httpTimeout: "3m"
  httpProxyEnabled: false
  httpProxy: "" #example: http://squid-proxy-service.default:3128
  httpsProxy: "" #example$ http://squid-proxy-service.default:3128
  noProxy: "" #example: ".cluster.local,.svc.cluster.local,172.20.0.1," the line must end with a coma, 172.20.0.1 it is KUBERNETES_SERVICE_HOST, API SERVICE
  excludedNamespaces: []
  updateCRWorkersNum: 5
  automatedRevisionsRetentionHours: "2h"
cmd:
  serve:
    resources:
      limits:
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 128Mi
  sync:
    resources:
      limits:
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 128Mi
  evict:
    resources:
      limits:
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 128Mi
secret:
  create: false
  name: "perfectscale-secret"
  clientId: ""
  clientSecret: ""
nameOverride: ""
fullnameOverride: ""
## Additional labels to set in the all objects. Together with standard labels from the chart
additionalLabels: {}
podLabels: {}
## Annotations to add to the deployment
annotations: {}
## Annotations to add to the pod
podAnnotations: {}
priorityClass:
  enabled: false
  create: false
  name: perfectscale-autoscaler
  preemptionpolicy: PreemptLowerPriority
  value: ''
## Role Based Access
## Ref: https://kubernetes.io/docs/admin/authorization/rbac/
##
rbac:
  enabled: true
# Using host network namespace for serve pod
hostNetwork:
  enabled: false
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""
podSecurityContext: {}
# fsGroup: 2000

securityContext: {}
# runAsNonRoot: true
# fsGroup: 1002
# runAsGroup: 1002
# runAsUser: 1002

service:
  type: ClusterIP
  port: 8443
# Pod toleration rules.
# Ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
tolerations: {}
# Pod node selector rules.
# Ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/
nodeSelector: {}
# Pod affinity rules.
# Ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
affinity: {}
# Timeout for webhook
# Ref: https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#timeouts
admission:
  timeout: 15
  # Optionally change it to "Fail"
  failurePolicy: "Ignore"
  staticCerts:
    enabled: false
    # caCert: ""
    # tlsCert: ""
    # tlsKey: ""
  # Annotations to add to the admission webhook
  annotations: {}
  # Admission Enforcer on AKS excludes kube-system and AKS internal namespaces from being processed by the webhook.
  # To disable this behavior, provide the following annotation:
  # admissions.enforcer/disabled: "true"

  certManager:
    enabled: false
  #If you have a Kubernetes secret containing the certificates for the webhook created outside of the Helm chart, 
  # set enabled: true under externalCertSecret, specify the secret name in the tlsName field, 
  # and provide the actual base64 encoded CA bundle in the caCert field.
  externalCertSecret:
    enabled: false
    tlsName: "somename"
    caCert: "someCAbundle"
integrationTests:
  enabled: true
  image:
    repository: public.ecr.aws/perfectscale-io/psc-autoscaler
    tag: "v0.1.23-int-tests"
  serviceAccount:
    # Specifies whether a service account should be created
    create: true
    # Annotations to add to the service account
    annotations: {}
    # The name of the service account to use.
    # If not set and create is true, a name is generated using the fullname template
    name: ""
  rbac:
    enabled: true
  settings:
    cleanup: "true"
  resources:
    requests:
      cpu: 100m
      memory: 100Mi
