{{- if .Values.settings.corootNodeAgent.enabled -}}
apiVersion: apps/v1
kind: DaemonSet
metadata:
  labels:
    app: psc-coroot-node-agent
    part-of: {{ .Release.Name }}-psc-coroot-node-agent
    {{- if .Values.coroot.additionalLabels }}
    {{- toYaml .Values.coroot.additionalLabels | nindent 4 }}
    {{- end }}
  name: {{ .Release.Name }}-psc-coroot-node-agent
  namespace: {{ .Release.Namespace }}
  {{- with .Values.coroot.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  selector:
    matchLabels:
      app: psc-coroot-node-agent
      part-of: {{ .Release.Name }}-psc-coroot-node-agent
  template:
    metadata:
      labels:
        app: psc-coroot-node-agent
        part-of: {{ .Release.Name }}-psc-coroot-node-agent
        {{- if .Values.coroot.podLabels }}
        {{- toYaml .Values.coroot.podLabels | nindent 8 }}
        {{- end }}
      {{- with .Values.coroot.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      hostPID: true #TO DO check code if we need it?
      containers:
        - name: coroot-node-agent
          image: "{{ .Values.coroot.image.repository }}:{{ .Values.coroot.image.tag }}"
          imagePullPolicy: {{ .Values.coroot.image.pullPolicy }}
          env:
            - name: CGROUPFS_ROOT
              value: "/host/sys/fs/cgroup"
            - name: DISABLE_LOG_PARSING
              value: "true"
            - name: COROOT_EBPF_PROFILING
              value: "disabled"
            - name: COROOT_LOG_MONITORING
              value: "disabled"
            - name: COROOT_EBPF_TRACES
              value: "disabled"
            - name: DISABLE_L7_TRACING
              value: "true"
            - name: LISTEN
              value: "0.0.0.0:8080"
          ports:
            - containerPort: 8080
              name: http
          resources:
            {{- toYaml .Values.coroot.resources | nindent 12 }}
          securityContext:
            privileged: true
          volumeMounts:
            - mountPath: /host/sys/fs/cgroup
              name: cgroupfs
              readOnly: true
            - mountPath: /sys/kernel/tracing
              name: tracefs
            - mountPath: /sys/kernel/debug
              name: debugfs
              readOnly: false
            - mountPath: /tmp
              name: tmp
      {{- if .Values.imagePullSecrets }}
      imagePullSecrets:
      - name: {{ .Values.imagePullSecrets.secretName }}
      {{- end }}
      {{- with .Values.coroot.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.coroot.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.coroot.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if ne .Values.priorityClass.enabled false}}
      priorityClassName: {{ .Values.priorityClass.name | default "perfectscale-exporter" }}
      {{- end }}
      volumes:
        - hostPath:
            path: /sys/fs/cgroup
          name: cgroupfs
        - hostPath:
            path: /sys/kernel/tracing
            type: ""
          name: tracefs
        - hostPath:
            path: /sys/kernel/debug
          name: debugfs
        - emptyDir: {}
          name: tmp
{{- end }}