{{- $fullName := include "helm.fullname" . -}}
{{- if .Values.secret.create -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.secret.name | default $fullName }}
  annotations:
    "helm.sh/resource-policy": keep
    {{- with .Values.annotations }}
      {{- toYaml . | nindent 4 }}
    {{- end }} 
  labels:
    {{- include "psc-autoscaler.labels" . | nindent 4 }}
    {{- if .Values.additionalLabels }}
    {{- toYaml .Values.additionalLabels | nindent 4 }}
    {{- end }}
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
  clientId: {{ .Values.secret.clientId | b64enc | quote }}
  clientSecret: {{ .Values.secret.clientSecret | b64enc | quote }}
{{ end }}
